@import "tailwindcss";

@theme {
  --color-primary-1: #B2C30F;
  --color-primary-2: #343F43;
  --color-secondary: #1E1E1E;
  --color-accent: #F4C542;
  --color-danger: #FF3B30;
  --color-info: #3B82F6;
  --color-success: #10B981;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;
}

.container {
  width: 90%;
  max-width: calc(90%);
  margin-left: auto;
  margin-right: auto;

}